.parent
  --gap-size: 15px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-column-gap: var(--gap-size)
  grid-row-gap: var(--gap-size)
  height: 50%
  > div
    --grid-sizing: calc(30% - var(--gap-size))
    width: var(--grid-sizing)
    height: var(--grid-sizing)
  > .div1
    grid-area: 1 / 2 / 2 / 3
  > .div2
    grid-area: 1 / 3 / 2 / 4
  > .div3
    grid-area: 2 / 1 / 3 / 2
  > .div4
    grid-area: 2 / 2 / 3 / 3
  > .div5
    grid-area: 2 / 3 / 3 / 4
  > .div6
    grid-area: 3 / 1 / 4 / 2
  > .div7
    grid-area: 3 / 2 / 4 / 3
#burgerMenu
  top: 50%
  left: 47%
  &::before
    content: "\2630"
