.parent
  --gap-size: 15px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-column-gap: var(--gap-size)
  grid-row-gap: var(--gap-size)
  height: 50%
  border-left: 2rem
  > div
    --grid-sizing: calc(30% - var(--gap-size))
    width: var(--grid-sizing)
    height: var(--grid-sizing)
    cursor: pointer

  > .div1
    grid-area: 1 / 2 / 2 / 3
  > .div2
    grid-area: 1 / 3 / 2 / 4
  > .div3
    grid-area: 2 / 1 / 3 / 2
  > .div4
    grid-area: 2 / 2 / 3 / 3
  > .div5
    grid-area: 2 / 3 / 3 / 4
  > .div6
    grid-area: 3 / 1 / 4 / 2
  > .div7
    grid-area: 3 / 2 / 4 / 3

#burgerMenu
  display: flex
  align-items: center
  justify-content: center
  width: 3rem
  height: 3rem
  top: calc(50% - 1.5rem)
  left: calc(50% - 1.5rem)
  font-size: 2rem
  border-radius: 50%
  background: #38ad14
  color: white

  &::before
    content: "\2630"

#appWrapper
  .dayName
    width: 100%
  .right
    div[class^="modal-"]
      position: absolute
      margin: auto
      opacity: 0
      visibility: hidden
      width: 100%
      height: 100%
      right: -100vw
      background: #fff
      padding: 2rem
      transition: opacity .25s, visibility .25s, right .25s ease-in-out
      &.modalVisible
        opacity: 1
        visibility: visible
        top: 0
        left: 0
        right: 0
        bottom: 0
      .close-modal-aliments
        position: absolute
        top: .25rem
        left: .25rem
        display: flex
        align-items: center
        justify-content: center
        width: 25px
        height: 25px
        border-radius: 50%
        background: red
        cursor: pointer
        &:before
          content: "\2715"
          color: #fff
      .alimentsList
        margin-bottom: 1rem
        .categAli
          border: 1px solid
          border-radius: 8px
          max-width: 25%
          .alim-title
            padding: .75rem 0
            border-bottom: 1px solid black
          input[type='number']
            width: 100%
            border: none
      h3
        text-decoration: underline
      button
        text-align: center
        padding: .75rem 3rem
        border-radius: 25px
        background: #3390ca
        color: white
        &.edit-day-cancel
          background: red
        &.edit-day-confirm
          background: green

div[class^="reco-modal"]
  position: absolute
  display: flex
  top: 0
  z-index: -1
  margin: auto
  //opacity: 0
  //visibility: hidden
  width: 100%
  height: 100%
  //right: -100vw
  transition: opacity .25s, visibility .25s, right .25s ease-in-out

.w-auto-override
  width: auto !important
.h-auto-override
  height: auto !important