html
  font-family: 'Lato', sans-serif
  .parent
    --gap-size: 15px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 1fr)
    grid-column-gap: var(--gap-size)
    grid-row-gap: var(--gap-size)
    > div
      --grid-sizing: calc(30% - var(--gap-size))
      padding: 36% 0
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07)
    >:first-child
      grid-column-start: 2
  #menuWrapper
    #burger
      top: .5rem
      right: .5rem
      font-size: 2rem
      &.actif
        + #menu
          transform: scale(1)
          border-radius: 0
    #menu
      transform: scale(0)
      border-radius: 100vw
      transition: .4s ease
      display: grid
      grid-template-columns: 1fr 5rem 1fr
      padding: 0 5vw
      ul
        justify-content: space-evenly
        max-height: 450px
      aside
        grid-column-start: 3
  #SignInterface
    --fill-blue: #2196F3
    --fill-green: #00E676
    transition: .4s ease
    fieldset
      height: 70px
      margin: 0 auto
      max-width: 350px
      input
        color: #888
        border: none
        outline: none
        padding: 10px
        background: transparent
        transition: .1s ease-in-out
        border-bottom: 1px solid #fff
      label
        bottom: 10px
        transition: .1s ease-in-out
      .bar
        bottom: 2px
      input
        &.filled
          border-bottom: 1px solid var(--fill-blue)
        &:focus ~ label,
        &.filled ~ label
          bottom: 40px
          color: var(--fill-blue)
          font-size: 16px
      .bar
        &::before,
        &::after
          content: ''
          width: 0
          height: 2px
          position: absolute
          background: var(--fill-blue)
          transition: .2s ease-in-out
        &::before
          left: 50%
        &::after
          right: 50%
      input
        &:focus ~ .bar
          &::before,
          &::after
            width: 50%
        &:valid
          border-bottom: 1px solid var(--fill-green)
          ~
          .bar
            &::before,
            &::after
              background: var(--fill-green)
            label
              color: var(--fill-green)


%cross
  content: "\2715"
  color: #fff
  position: relative
  top: -.005rem
  left: .025rem


#appWrapper
  .dayName
  width: 100%
  min-width: 150px
  .left
    min-width: 18rem
    .parent-reco
      max-height: 60%
  .right
    background: #3ed8a4
    .title
      margin: 3rem 0
      text-align: center
      font-size: 2.2rem
    .parent
      max-width: 700px
      margin: 0 25%
    div[class^="modal-"]
      position: absolute
      display: flex
      align-items: center
      margin: auto
      opacity: 0
      visibility: hidden
      width: 100%
      height: 100%
      right: -100vw
      background: #fff
      transition: opacity .25s, visibility .25s, right .25s ease-in-out
      &.modalVisible
        opacity: 1
        visibility: visible
        top: 0
        left: 0
        right: 0
        bottom: 0
      .close-modal-aliments
        position: absolute
        top: .25rem
        left: .25rem
        display: flex
        align-items: center
        justify-content: center
        width: 25px
        height: 25px
        border-radius: 50%
        background: red
        cursor: pointer
        &:before
          @extend %cross
      .alimentsList
        margin-bottom: 1rem
        .categAli
          position: relative
          border: 1px solid
          .delete-aliment
            position: absolute
            top: -10px
            right: -10px
            align-items: center
            justify-content: center
            width: 20px
            height: 20px
            border-radius: 50%
            background: red
            cursor: pointer
            &:before
              @extend %cross
              font-size: .75rem
          .alim-title
            padding: .75rem 0
            width: 80%
          input[type='number']
            width: 20%
            border: none
        .add-item
          position: relative
          width: 25px
          height: 25px
          margin-top: 8%
          text-align: center
          border: 1px solid black
          border-radius: 50%
      h3
        padding: 1.2%
      button:not(.add-item)
        text-align: center
        padding: .75rem 3rem
        border-radius: 25px
        background: #3390ca
        color: white
        &.edit-day-cancel
          background: red
        &.edit-day-confirm
          background: green
    div.add-item-modal
      position: absolute
      opacity: 1
      visibility: visible
      top: 25%
      right: 0
      left: -50%
      bottom: 0
      max-width: 100%
      max-height: 50%
      background: #c4c4c4
      border: 1px solid black
      transition: opacity .25s, visibility .25s, bottom .25s ease-in-out
      z-index: 11
      &.none
        bottom: -150vh
        opacity: 0
        visibility: hidden
        transition: opacity .25s, visibility .25s, bottom .25s ease-in-out
      .close-add-item-modal
        position: absolute
        top: -10px
        right: -10px
        align-items: center
        justify-content: center
        width: 20px
        height: 20px
        border-radius: 50%
        background: red
        cursor: pointer
        &:before
          @extend %cross
      .add-aliment-content
        a
          display: block
  .modalAliments
    max-width: 600px
div[class^="reco-modal"]
  position: absolute
  display: flex
  top: 0
  z-index: -1
  margin: auto
  width: 100%
  height: 100%
  transition: opacity .25s, visibility .25s, right .25s ease-in-out
.w-auto-override
  width: auto !important
.h-auto-override
  height: auto !important

.font-55xl
  font-size: 3.5rem

.dayName
  min-width: 150px

details
  min-width: 300px
  margin-bottom: 1rem

/* ====================== MEDIA QUERIES ====================== */
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px
// Small tablets (portrait view)
$screen-md-min: 768px
// Tablets and small desktops
$screen-lg-min: 992px
// Large tablets and desktops
$screen-xl-min: 1200px

// Extra large devices max
@media screen and (max-width: $screen-xl-min)
  #appWrapper .right .parent
    margin: 0 12%

// Large devices
@media screen and (max-width: $screen-lg-min)
  #appWrapper .left
    display: none
  #appWrapper .right .parent
    margin: 0 10%

// Medium devices
@media screen and (max-width: $screen-md-min)
  #appWrapper .right .parent
    margin: 0 8%

// Small devices
@media screen and (max-width: $screen-sm-min)
  body
    overflow-y: scroll !important
    overflow-x: hidden !important
  html .parent > :first-child
    grid-column-start: 1
  #appWrapper
    height: auto
    position: relative
    overflow-x: hidden
    .parent
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
    .right
      padding-bottom: 2rem
      .parent
        margin: 0
      #headRight
        position: fixed
        top: 0
        left: 0
        right: 0
      .title
        margin: 6rem 0 3rem

// Extra large devices min
@media screen and (min-width: $screen-xl-min)
  #appWrapper .right .parent
    margin: 0 20%